body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
